.categories-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px
}

.categories-list {
    display: flex;
}

.categories-item {
    color: rgb(0, 0, 0);
    background-color: #f9f9f9;
    padding: 13px 30px;
    margin-right: 10px;
    border-radius: 30px;

    cursor: pointer;
    transition: background 0.2s linear;
}

.categories-item:hover {
    background-color: #e2e2e2;
}

.categories-item.active {
    background-color: #fe5f1e;
    color: white;
}

.categories-headers h3 {
    font-size: 30px;
    color: white;
    padding: 10px 0 10px 0;
}

.pizza-block-wrapper {
    display: flex;
    flex-wrap: wrap;

    gap: 10px 40px;
    justify-content: start;
    margin-bottom: 10px;
}



@media (max-width: 1024px) {
    .pizza-block-wrapper {
        justify-content: space-around;
    }
}

@media (max-width: 949px) {
    .categories-inner {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px 0;
        margin-bottom: 15px;
    }

    .categories-headers h3 {
        display: none;
    }
}

@media (max-width: 768px) {
    .categories-inner {
        flex-direction: column;
        align-items: center;
    }

    .categories-list {
        justify-content: flex-start;
    }

    .categories-item {
        padding: 10px 20px;
        font-size: 14px;
    }

    .categories-headers h3 {
        font-size: 24px;
    }

}

@media (max-width: 546px) {
    .categories-inner {
        display: none;
    }
}

@media (max-width: 480px) {
    .categories-item {
        padding: 8px 16px;
        font-size: 13px;
    }

    .categories-headers h3 {
        font-size: 20px;
    }
}