.not-found-block {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.not-found-block-inner {

    margin: 0 auto;
    min-height: 400px;
    max-width: 1000px;
    padding: 40px;

    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;

}

.not-found-title {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.not-found-block-img {
    display: block;
    margin: 0 auto;
    width: 400px;
}