.cart-block {
    padding: 40px 0;
}

.cart-block-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-block-upper h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.cart-block-inner {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.clear-cart-btn {
    color: #000000;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #f0f0f0;
}

.cart-header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-total-pizzas {
    font-size: 16px;
    color: #555;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.cart-item img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
}

.cart-item-wrapper {
    display: flex;
    gap: 0 15px;
}

.cart-item-info h3 {
    margin: 0;
    font-size: 18px;
}

.cart-item-count {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item-count button {
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background: #f0f0f0;
    cursor: pointer;
    font-size: 18px;
}

.remove-item-btn {
    padding: 8px 15px;
    background: #ff4d4d;
    color: #fff;

    border-radius: 10px;
    cursor: pointer;
}

.cart-total {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cart-total-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.go-back-btn {
    display: flex;
    align-items: center;

    color: black;
    gap: 8px;
    padding: 10px 18px;
    background: #eee;

    border-radius: 10px;
    cursor: pointer;
}

.checkout-btn {
    padding: 10px 18px;
    background: #fe5f1e;
    color: #fff;

    border-radius: 10px;
    cursor: pointer;
}