.info-pizza-inner {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    width: 560px;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    text-align: center
}

.info-pizza-title {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.info-pizza-img {
    border-radius: 20px;
    margin-bottom: 15px;
}

.info-pizza-desc {
    margin-bottom: 15px;
}