.cart-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

.cart-empty-inner {

    margin: 0 auto;
    min-height: 400px;
    max-width: 1000px;
    padding: 40px;

    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;

}

.cart-empty-title {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.cart-empty-img {
    display: block;
    margin: 0 auto;
    padding: 15px;
}


@media (min-width: 1920px) {
    .cart-empty {
        margin-top: 135px;
    }
}