.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 90px;
}

.button-cart {
    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;
    color: white;
    width: 210px;
}

.button {
    user-select: none;
    background-color: #fe5f1e;

    border: 1px solid transparent;
    border-radius: 30px;
    cursor: pointer;

    min-width: 100px;
    text-align: center;
    transition: background 0.2s linear;
}

.button:hover {
    background-color: #f24701;
}

.button-price {
    display: inline-block;

    text-align: center;
    font-variant-numeric: tabular-nums;
}

.button-price-wrapper {
    width: 200px;
    text-align: center;
}

.button-item {
    display: inline-block;

    text-align: center;
    font-variant-numeric: tabular-nums;

}

.button-item-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.cart-ico {
    width: 24px;
}

.button-delimiter {
    background-color: hsla(0, 0%, 100%, .25);
    height: 25px;
    margin: 0 14px;
    width: 10px;
}

@media (max-width: 546px) {
    .header-inner {
        flex-wrap: wrap;
    }

    .search-wrapper {
        display: none;
    }
}