body {
  min-height: 100vh;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background-image:
    linear-gradient(to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 0.4)),
    url("/public/img/main_bg-1.avif");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.container {
  width: 100%;
  max-width: 1690px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  body {
    background: black !important;
  }
}