body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1690px;
  margin: 0 auto;
  padding: 0 15px;
}