.sort {
    position: relative;
    background-color: white;
    padding: 12px 25px;
    border-radius: 30px;
}

.sort-label {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.sort-label span {
    color: #fe5f1e;

}

.sort-popup {
    position: absolute;
    top: 44px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 222px;
}

.sort-popup ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sort-popup li {
    padding: 10px 18px;
    cursor: pointer;
}

.sort-popup li:hover {
    background: #f4f4f4;
}

.sort-popup li.active {
    color: #fe5f1e;
}

.icon {
    transition: transform 0.2s ease;
}

.icon.rotated {
    transform: rotate(180deg);
}